.textContainer {
    display: flex;
    gap:20px;
    align-items: center;
}

.label {
    width: 20%;
    text-align: right;
    color: #d1d1d1;
    font-family: Gilroy, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.text {
    width: 80%;
    font-family: Inter,sans-serif;
    font-style: normal;
    line-height: 19px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}